APP_NAME="My Movies API"
APP_ENV=local
APP_DEBUG=true
SQL_ECHO=false

API_V1_PREFIX=/api/v1

BACKEND_CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

DATABASE_URL=postgresql+psycopg://my_movies:my_movies@localhost:5433/my_movies

POSTGRES_DB=my_movies
POSTGRES_USER=my_movies
POSTGRES_PASSWORD=my_movies
POSTGRES_PORT=5433

JWT_SECRET_KEY=change_this_secret_key
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=1440

ADMIN_EMAIL=admin@mymovies.local
ADMIN_PASSWORD_HASH=replace_with_bcrypt_hash

OMDB_PROVIDER_MODE=mock
OMDB_API_BASE_URL=https://www.omdbapi.com/
OMDB_API_KEY=

DEFAULT_EPISODE_RUNTIME_MINUTES=45
